<h1>承認メンバー一覧</h1>
<br/>
<p><%= link_to "管理ページ", owner_salon_path(params[:id]) %> ＞ 承認メンバー一覧</p>
<br/>

<% if @SalonApprovedMember.present? %>
  <% @SalonApprovedMember.each do |user| %>
    <p>●ユーザーid:<%= user.user_id %></p>
    <p>●ニックネーム:<%= user.user.nickname %></p>
    <%= link_to "メンバーから除外", "/salon_approveds/#{user.id}",method: :delete, data: { confirm: 'メンバーから除外しますか？' } , class: "btn btn-danger" %>
    <hr>
  <% end %>
<% else %>
  <p>参加中のメンバーはおりません。</p>
<% end %>