<h1>ショップカート</h1>
<% @shopcart.each do |item| %>
  <p>商品id：<%= item.product_id %></p>
  <p>数量：<%= item.purchase_num %></p>
  <p><%= link_to "削除", "/user/#{item.user_id}/shopcarts/#{item.id}" ,method: :delete %></p>
---------------------------------------
<% end %>

<hr>
<h2>「あとで買う」に入っている商品</h2>