<h2>オンラインサロンって？</h2>
<p>オンラインサロンは、オンライン上で運営する会員制のサロンです。<br/>
これまで実店舗を持たなければ実現できなかった会員制のサロンをWeb上に作ることができます。<br/>
低コストで日本全国から集客することができるのが特徴です。
</p>

<br/>

<h2>こんな方にオススメ</h2>
<p>・ブログの読者限定の会員制コミュニティを作りたい人</p>
<p>・自分の特技を誰かに教えたいたい人</p>
<p>・副業収入を得たい人</p>

<br/>

<h2>SalonPassの特徴</h2>
<p>・無料で簡単にオンラインサロンを始めることができます。</p>
<p>・ニックネームで利用することができるので、サロンメンバーも気軽に参加することができます。</p>
<p>・SNS機能、ショップ機能、教材機能などサロン運営に必要な機能が簡単に使えます。</p>

<br/>

<h2>SalonPassで自分だけのオンラインサロンを作ろう！</h2>
<br/>
<div class="btn-center"><%= link_to "無料でオンラインサロンを開く", new_owner_registration_path , class: "btn btn-success btn-lg"%></div>
<br/>
<br/>