<% if @SalonInformation.present? %>
  <h1><%= @SalonInformation.salon_name %></h1>
  <hr>
<% else %>
  <h1>Salon show</h1>
<% end %>



<p>ここは会員のトップページになる</p>

<p><%= link_to "サロン掲示板", salon_posts_path(params[:id]) %></p>
<p><%= link_to "ショップ", salon_products_path(params[:id]) %></p>
<hr>



<h2>お知らせ</h2>
<p>オーナーが設定したお知らせを表示</p>


<hr>


<h2>最新の投稿</h2>
<p>最新の掲示板の投稿を表示</p>




<%= link_to "home", root_path %>