<h1>マイページ</h1>

<h2>プロフィール</h2>
  <p><%= link_to "プロフィールを編集",profile_edit_user_path(params[:id]) %></p>
<hr>


<h2>参加中のサロン</h2>
<% @SalonApproved.each do |salon| %>
  <p>サロン：<%= link_to salon.owner_id, salon_path(salon.owner_id) %></p>
<% end %>



<hr>

<h2>申請中のサロン</h2>
<% @SalonApplying.each do |salon| %>
  <p>サロン：<%= link_to salon.owner_id, salon_index_salon_path(salon.owner_id) %></p>
<% end %>

<%= link_to "home", root_path %>
