<h1>Post New</h1>

<%= form_for @post ,url: "/salons/#{@salon_id}/posts" ,method: :post do |f| %>
  <p>タイトル：<%= f.text_field :title %></p>
  <p>本文：<%= f.cktext_area :body %></p>
  <p><%= f.submit "更新" %></p>
<% end %>

