<h1>新規投稿</h1>

<%= form_for @post ,url: "/salons/#{@salon_id}/posts" ,method: :post do |f| %>
  <p>タイトル</p>
  <p><%= f.text_field :title, :size => "40" %></p>
  <br/>
  <p>本文：<%= f.cktext_area :body %></p>
  <p><%= f.submit "　更新　" , class: "btn btn-primary" %></p>
<% end %>

