@import "bootstrap-sprockets";
@import "bootstrap";


/*----(色の変数の定義)----------------------------*/
$black: #364F6B;
$cyan: #3FC1C9;
$white: #F5F5F5;
$pink: #FC5185;
$darkpink: #d64470;



/*----(共通)----------------------------*/



/*----(ヘッダー)----------------------------*/

.header {
  margin: 0 auto; 
  background-color: $black;
  height: 50px;
}

.head-title {
  color: $white;
  font-size: 30px;
}

.header-nav-right {
  float: right;
  margin: 15px 10px 0 0;
  color: $white;
}

.header a:hover {
  color: $pink;
}



/*----(コンテンツ----------------------------*/

.post {
  margin: 10px 0 15px;
  padding: 20px;
  border: 2px solid $cyan;
  border-radius: 10px;
}

.post-title {
  margin-bottom: 20px;
  color: $pink;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.post-border {
  margin: 20px 0 15px;
  border-bottom: 2px dashed $cyan;
}



