/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require slick/slick
 *= require slick/slick-theme
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*----(色の変数の定義)----------------------------*/
$black: #364F6B;
$cyan: #3FC1C9;
$white: #F5F5F5;
$pink: #FC5185;
$darkpink: #d64470;



/*----(共通)----------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.center {
  text-align: center;
}

/*----(ヘッダー)----------------------------*/

.header {
  margin: 0 auto; 
  background-color: $black;
  height: 50px;
}

.head-title {
  margin: 0 0 0 10px;
  padding: 2px 0 0 0;
  color: $white;
  font-size: 30px;
}

.header-nav-right {
  float: right;
  margin: 15px 10px 0 0;
  color: $white;
}

.header a:hover {
  color: $pink;
}


/*----(インデックス)----------------------------*/

.index-top-image {
  width: 100%;
}


.index-point-box {
  height: 290px;
  margin: 10px 0 15px;
  padding: 5px 15px 5px;
  background-color: $white;
  color: $black;
  border-radius: 5px;
}


.index-button-margin {
  margin: 20px 0 15px;
}

.index-icon-margin{
  margin: 10px 0 15px;
}

.index-headline{
  margin: 10px 0 20px;
}

.setumei {
  /*height: 300px;*/
  padding: 10px;
  background-color: $white;
  color: $black;
  text-align: center;
}



.point {
  /*height: 300px;*/
  padding: 10px;
  background-color: $black;
  color: $white;
  text-align: center;
}


.osusume-salon {
  /*height: 300px;*/
  padding: 10px;
  background-color: $white;
  color: $black;
  text-align: center;
}


.osusume-kinou {
  /*height: 300px;*/
  padding: 10px;
  background-color: $black;
  color: $white;
  text-align: center;
}


.imasugu-touroku {
  height: 300px;
  padding: 10px;
  background-color: $white;
  color: $black;
  text-align: center;
}



/*----(オーナー管理ページ)----------------------------*/


.owner-controler-box {
  margin: 10px 0 15px;
  padding: 5px 15px 5px;
  background-color: $cyan;
  border-radius: 5px;
}






/*----(コンテンツ)----------------------------*/

.post {
  margin: 10px 0 15px;
  padding: 20px;
  border: 2px solid $cyan;
  border-radius: 10px;
}

.post-title {
  margin-bottom: 20px;
  color: $pink;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.post-border {
  margin: 20px 0 15px;
  border-bottom: 2px dashed $cyan;
}




/*----(フッター)----------------------------*/

.wrap {
  position: relative;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  min-height: 720px;
}

.footer {
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: $black;
  height: 50px;
}


/*----(Devise)----------------------------*/

/*Deviseのスタイルerror_explanationを上書き*/
#error_explanation h2 {
  display: none;
}

#error_explanation ul {
  padding: 0;
}

#error_explanation li {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    color: #a94442;
    list-style:none;
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border: 1px;
    border-color: #dca7a7;
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}


/*----(スライダーの設定)----------------------------*/


.slider {
    width: 80%;
    margin: 20px auto;
}

.slick-slide {
  margin: 0 10px;
}

.slick-slide img {
  height: 300px;
  /*width: 100%;*/
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.fade {
  opacity: 1;
}


